/node_modules
/vendor
/bower_components
/.bundle
/.git
/.svn
/.hg
/.idea
/.vscode
/.DS_Store

# Compiled assets
/build
/dist
/public

# Log files
*.log

# IDE specific files
*.swp
*.bak
*.tmp
*.sync
*.log